--extra-index-url https://download.pytorch.org/whl/cu128
torch==2.8.0
torchvision==0.23.0

--extra-index-url https://abetlen.github.io/llama-cpp-python/whl/cu124
llama-cpp-python

gradio==6.16.0
spaces
transformers==4.51.3
accelerate
pillow
huggingface_hub
hf_transfer
sentencepiece
protobuf
decord
scipy
voxcpm
soundfile
