--extra-index-url https://download.pytorch.org/whl/cu128
torch==2.8.0
torchvision==0.23.0
torchaudio==2.8.0

gradio==6.16.0
spaces
transformers==4.51.0
accelerate
minicpmo-utils[all]>=1.0.5
pillow
opencv-python-headless
librosa
soundfile
huggingface_hub
hf_transfer
sentencepiece
protobuf
